* {
  text-align: center;
  box-sizing: border-box;
}

html {
  background-color: #f8f4e3;
  font-family: monospace;
}

body {
  margin: 100px 300px;
}

div.container {
  border: 5px;
  background-color: #e1dece;
}
