* {
  text-align: center;
  box-sizing: border-box;
}

html {
  background-color: #f8f4e3;
  font-family: monospace;
}

div.container {
  border-style: solid;
  border: #2a2b2a 5px 5px;
  height: auto;
  width: 800px;
  margin: 50px auto;
  padding: 0 150px 0 150px;
}
