html {
  background-color: #f8f4e3;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  box-sizing: border-box;
}

.recipes {
  list-style-type: none;
}

#title {
  font-size: 50px;
  color: #2a2b2a;
  padding: 24px 24px;
  margin: 20px auto;
  width: auto;
  height: 200px;
}
