* {
  text-align: center;
  box-sizing: border-box;
}

html {
  background-color: #f8f4e3;
  font-family: monospace;
}

.recipes-list {
  list-style-type: none;
}

#title {
  font-size: 70px;
  color: #2a2b2a;
  padding: 24px 24px;
  margin: 50px auto 0;
  width: fit-content;
  height: auto;
}

#subheading {
  font-size: 20px;
  margin: auto;
  color: #2a2b2a;
  padding: 12px 0 24px 0;
  width: fit-content;
  height: auto;
}

.recipes-list .recipe {
  border-radius: 50px;
  font-family: monospace;
  font-size: 40px;
  border: 0;
  margin: 0 auto 50px;
  height: 60px;
  width: 500px;
}

.recipe a {
  text-decoration: none;
  color: #2a2b2a;
}

.recipe.one {
  background: #8bd7d2;
}

.recipe.two {
  background: #e5446d;
}

.recipe.three {
  background: #ff8966;
}
