html {
  background-color: #f8f4e3;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.recipes {
  list-style-type: none;
}

#title {
  font-size: 50px;
  color: #2a2b2a;
  padding: 12px;
}
